<h1>Hello System Operator</h1>
<br>
<h3>This is the cities page</h3>
<%if (@cities != []) %>
  <% @cities.each do |city| %>
    <p>City: <%= city.name %></p>
    <a href="/operator/city/city_edit/<%=city.id%>">Update</a>
    <form action="/operator/city/list/<%= city.id() %>" method="post">
      <input name="_method" type="hidden" value="delete">
      <button type="submit" name="button">Delete</button>
    </form>
  <%end%>
<%else%>
  <p>There are currently no cities saved.</p>
<%end%>

<a href="/operator/city/new">Add a city</a>
